html {
  background: black;
}

/*body,html {*/
  /*margin: 0 auto;*/
  /*padding: 0;*/
  /*font-family: sans-serif;*/
/*}*/

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  opacity: .7;
  border-radius: .5rem;
  margin-bottom: 60%;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 80%;
  text-align: center;
  color: black;
  background: red;
  text-shadow: 0 0 .5rem black;
  height: 282px;
  width: 400px;
}

.playing {
  transform: scale(2);
  border-color: white;
  box-shadow: 0 0 1rem white;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: black;
}

h1{
  font-size: 5em;
  text-align: center;
  margin: 0 auto;
  color: white;
}


